In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
from pandas.plotting import scatter_matrix

Matplotlib is building the font cache; this may take a moment.

In [2]:
df = pd.read_csv('C:/Users/Vishal/Downloads/corona_tested_individuals_ver_006.english.csv')

C:\Users\Vishal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
df.shape

(278848, 10)

In [3]:
df.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,30-04-2020,0,0,0,0,0,negative,None,female,Other
1,30-04-2020,1,0,0,0,0,negative,None,female,Other
2,30-04-2020,0,1,0,0,0,negative,None,male,Other
3,30-04-2020,1,0,0,0,0,negative,None,female,Other
4,30-04-2020,1,0,0,0,0,negative,None,male,Other

In [9]:
#checking for null values
for column in df.columns:
    print(column,df[column].isnull().sum())

test_date 0
cough 0
fever 0
sore_throat 0
shortness_of_breath 0
head_ache 0
corona_result 0
age_60_and_above 0
gender 0
test_indication 0