# COVID DIAGNOSIS PREDICTION

In [27]:
#IMPORTING THE NECCESSARY LIBRARIES


import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from pandas.plotting import scatter_matrix

In [28]:
#reading the dataset
df = pd.read_csv('C:/Users/Vishal/Downloads/corona_tested_individuals_ver_0083.english.csv')

C:\Users\Vishal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [29]:
# first few values of dataset
df.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-11-12,0,0,0,0,0,negative,No,male,Other
1,2020-11-12,0,1,0,0,0,negative,No,male,Other
2,2020-11-12,0,0,0,0,0,negative,Yes,female,Other
3,2020-11-12,0,0,0,0,0,negative,No,male,Other
4,2020-11-12,0,1,0,0,0,negative,No,male,Contact with confirmed

In [30]:
df.dtypes

test_date              object
cough                   int64
fever                   int64
sore_throat             int64
shortness_of_breath     int64
head_ache               int64
corona_result          object
age_60_and_above       object
gender                 object
test_indication        object
dtype: object

In [31]:
#checking for columns with NaN values
for column in df.columns:
    print(column, df[column].isnull().sum())

test_date 0
cough 0
fever 0
sore_throat 0
shortness_of_breath 0
head_ache 0
corona_result 0
age_60_and_above 547644
gender 92886
test_indication 0

In [32]:
#dropping all the rows with NaN values
df.dropna()

#dropping the rows with 'other' values
df = df[df.corona_result != 'other']

In [33]:
#selecting random 1% dataset for our training
df = df.sample(frac = 0.01, random_state = 1)

In [34]:
#categorising the values in form of 0 and 1
df['corona_result'] = pd.get_dummies(df['corona_result'], drop_first = True)
df['age_60_and_above'] = pd.get_dummies(df['age_60_and_above'], drop_first = True)
df['gender'] = pd.get_dummies(df['gender'], drop_first = True)

In [36]:
#dropping the unneccessary columns
df.drop(['test_date', 'test_indication'], axis = 1, inplace = True)

In [37]:
df.head() # checking the dataset

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender
2171496,0,0,0,0,0,0,0,1
1159651,0,0,0,0,0,0,0,0
2492620,0,0,0,0,0,0,0,1
315193,0,0,0,0,0,0,0,1
2277417,0,0,0,0,0,0,0,0

In [38]:
# reseting indexing back from 0
df.reset_index(drop = True, inplace = True)

In [39]:
df.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender
0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0

In [40]:
# setting our feature vector
X = df.drop(['corona_result'], axis = 1)

# setting our target value
y = df['corona_result']

In [41]:
# importing libraries to train the model
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

In [42]:
# setting up for svm model
svm_model = svm.SVC(gamma = 'auto', C = 0.1, kernel = 'rbf')

# preparing our train set and test set
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [43]:
# training our logistic regression model
log_reg = LogisticRegression()
log_reg.fit(train_x, train_y)

#testing out logistic regression model
pred_y = log_reg.predict(test_x)

In [44]:
# checking our logistic model accuracy
accuracy_score(pred_y, test_y)

0.9230057375532111

In [45]:

# training our svm model
svm_model.fit(train_x, train_y)

SVC(C=0.1, gamma='auto')

In [46]:
# predicting for our test values through svm model
y_pred = svm_model.predict(test_x)

In [48]:
# checking for our svm model accuracy
accuracy_score(y_pred, test_y)

0.9246714788080695